ul {
    list-style-type: none; /* tira as bolinhas */
    padding: 0;
    margin: 0;
    background-color: #333;
    width: 200px; /* largura fixa opcional */
}

a {
    display: block; /* ocupa a largura toda */
    color: white;
    text-align: left; /* ou center se quiser centralizar */
    padding: 14px 20px;
    text-decoration: none;
}

a:hover {
    background-color: #111;
    font-size: 20px;
}
