/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(97, 161, 183); /* cor de fundo */
}

section {
  margin-bottom: 40px;
}

h2 {
    background-color: #3440ac;
    margin-top: 35px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    background-color: white;
    padding: 10px;
    gap: 10px;
}

.item-grid {
    background-color: #500c72;
    color: white;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    margin: 5px;
}

.basico {
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows:  100px 100px;
}

.repeat-minmax {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    gap: 20px;
}

.auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 100px;
    gap: 20px;
}

.sobreposicao {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 10px
}

.item1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.item2 {
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: maroon;
}
.item3 {
    grid-column: 1/2;
}
.item4 {
    grid-column: 2/4;
}

.areas-nomeadas {
    grid-template-areas:
    "cabecalho cabecalho"
    "menu conteudo"
    "rodape rodape";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px;
}
.cabecalho {
    grid-area: cabecalho;
    background-color: greenyellow;
}

.menu {
    grid-area: menu;
    background-color: #3440ac;
}

.conteudo {
    grid-area: conteudo;
    background-color: red
}

.rodape {
    grid-area: rodape;
    background-color: purple;
}
.grid-aninhado {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.subgrid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.subitem-grid {
    background-color: rgb(119, 0, 255);
    padding: 10px;
    color: white;
}

/* Container geral do layout */
.layout-pagina {
    grid-template-areas: 
    "header header header"
    "nav mais aside"
    "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 500px;
    gap: 10px;
}



.header {
    grid-area: header;
    background-color: rgb(42, 4, 119);
    color: white;
}

.nav {
  background-color: red;
  
  
}

.main {
  background-color: blue;
}

.aside {
  background-color: orange;
}

.footer {
    background-color: green;
    grid-column: 1/4;
}
