/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  text-align: center;
}
/* Ativaçao do flex para todos os containers */
/* container flex e itens flex */
.container-flex {
    display: flex;
    background-color: purple;
    padding: 10px;
    color : white;
    gap: 10px; /* espaçamento dos itens */
}
.item-flex {
    background-color: orange;
    padding : 20px;
    text-align: center;
}

/* flex-direction */
.direcao-linha {
    flex-direction: row; /* padrão */
}

.direcao-coluna {
    flex-direction: column;
}

/* flex-wrap */
.wrap{
    flex-wrap: wrap; /* permite que os itens quebrem a linha */
}

.nowrap{
    flex-wrap: nowrap; /* padrão, não permite que os itens quebrem a linha */
}
.justificar-inicio{
    justify-content: flex-start; /* padrão, alinha os itens no início do container */
}
.justificar-fim{
    justify-content: flex-end; /* alinha os itens no final do container */
}
.justificar-centro{
    justify-content: center; /* alinha os itens no centro do container */
}

.justificar-space-between{
    justify-content: space-between; /* distribui os itens com espaço entre eles */
}
.justificar-space-around{
    justify-content: space-around; /* distribui os itens com espaço ao redor deles */
}
.justificar-space-evenly{
    justify-content: space-evenly; /* distribui os itens com espaço igual entre eles */
}

.alinhar-items .container-flex{
    height: 300px; /* altura fixa para visualizar o alinhamento */
}

.alinhar-strech{
    align-items: stretch; /* padrão, estica os itens para preencher o container */
}

.alinhar-inicio{
  align-items: flex-start;
}

.alinhar-fim{
  align-items: flex-end;
}
.alinhar-centro{
  align-items: center;
}

.alinhar-baseline{
  align-items: baseline; /* alinha os itens pela linha de base do texto */
}