button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}
input:focus {
    outline: 1px solid orange;
}
p:first-child{
    font-weight: bold;
}
li:last-child{
    color: red;
}
tr:nth-child(odd){
    background-color: #919191;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
table {
    border-collapse: collapse;
    width: 50%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}