ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden;
}
li{
    float: left;
}
a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
a:hover{
    background-color: #111;
    font-size: 20px;
    
}

#titulo-principal {
    border: 10px;
    padding : 10px;
    margin: 10px;  
    background-color: lightblue;   
}

.destaque{
    color: blue;
    font-weight: bold;
}

p{
    font-size: 20px;
    line-height: 1.5;
}
